In [ ]:
# 튜플 : 프로그래밍에서 여러 데이터를 하나로 묶어 저장하는, 순서가 있고 수정 불가능한(immutable) 불변 자료형입니다
# 튜플은 어떻게 만들까? 
# t2처럼 하나의 요소일 때는 뒤에 ,를 적어줘야한다
# 2개 이상일 경우는 , 안사용해도 된다

# 튜플은 지울 수도 없고 변경할 수도 없다

t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ("a", "b", ("ab", "cd"))

a = list()

#a = 1,
#b = 2
#c = [1, 2, 3]
#d = (1, 2)
b

2

In [ ]:
t1 = (1, 2, "a", "b")

# 튜플 요소갑을 삭제하려할 때 > 지울 수 없음 (튜플의 특징)
del t1[0]

TypeError: 'tuple' object doesn't support item deletion

In [ ]:
t1 = (1, 2, "a", "b")

#튜플 요소값을 변경하려 할 때 > 지원하지 않음
t1[1]=4

TypeError: 'tuple' object does not support item assignment

In [5]:
# 인덱싱 하기
t1 = (1, 2, "a", "b")
t1[2]

'a'

In [ ]:
# 슬라이싱하기
t1 = (1, 2, "a", "b")
t1[2:3+1] # t1[2:] t1[2:4]

('a', 'b')

In [ ]:
# 튜플 더하기 / 튜플은 삭제와 변경은 불가능하지만 '더하기'는 가능하다
t1 = (1, 2, "a", "b")
t2 = (3, 4)

t1 + t2

(1, 2, 'a', 'b', 3, 4)

In [ ]:
# 튜플의 곱하기 / 튜플은 삭제와 변경은 불가능하지만 '곱하기'도 가능하다
t1 = (1, 2, "a", "b")
t2 = (3, 4)
t2 *3

(3, 4, 3, 4, 3, 4)

In [33]:
# 튜플의 길이 구하기
t1 = (1, 2, "a", "b")
len(t1)

4

[7, 6, 5, 4, 3, 2, 1]

In [35]:
a = [ 1,2, 3,4,5,6,7]

a[::-1]

[7, 6, 5, 4, 3, 2, 1]

In [ ]:
# 비교 연산자 >, <, ==, >=, <=, !=
# 비교연산자의 결과는 불리언으로 나온다

3 > 1
3 < 1
3 == 1
3 >= 1
3 <= 1

SyntaxError: invalid syntax (1655857927.py, line 8)

In [41]:
a = [77, 44, 33, 99, 66, 11, 100]
print(sorted(a))

[11, 33, 44, 66, 77, 99, 100]

In [ ]:
#list 어떠한 형태의 값을 list의 형태로 바꿔주는 연산자